{% extends "base.html.twig" %}
{% block body %}


{%if result %}
    {{result}}
{%endif%}

<div style="clear:both;"></div>
<hr>
{% if builds%}


{% for b in builds %}

<div class="box_build">
    <div class="box_build_title">{{b.build.name}}</div>
    <div class="box_build_content">
        {%if b.build.type == "chata"%}
          <img src="{{ asset('build/images/bud1.d0fe524e.gif') }}" alt="">
        {% elseif b.build.type == "budynek"%}
          <img src="{{ asset('build/images/bud2.31bc096d.gif') }}" alt="">
        {%else%}
      {%endif%}
    </div>
  </div>
{% endfor %}


{%endif%}


    
{% endblock %}